$bcg-menu-bubble-opp56 : rgba(121,89,93, 0.56);
$bcg-menu-bubble-opp76 : rgba(121,89,93, 0.76);
$bcg-menu-bubble-opp1 : rgba(121,89,93, 1);
$menu-hover : rgba(231,115,39, 1);
$article-title : rgba(231,115,39, 1);
$white : rgba(255,255,255,1);
$black : rgba(0,0,0,1);
$bcg-button--primary : rgba(231,115,39, 1);
$bcg-button--secondary : rgba(121,89,93, 1);
$button-title--primary : rgba(231,115,39, 1);
$button-title--secondary : rgba(121,89,93, 1);
$button-title--tertiary : rgb(83, 53, 56);