@use 'colors';

.donate-section {
    background-image: url(/images/slideImg/bluredTree.jpg);
    background-size: cover;
}

.form {
    text-align: center;

    &__item {
        padding: 20px 0;
    }

    &-section,
    .payment__type {

        display: grid;
        grid-template-columns: 1fr 1fr;

        &--last {
            padding-bottom: 80px; 
            
            @media screen and (min-width: 1000px) {
                padding-bottom: 0;
            }
        }
    }

    &-box {
        padding: 30px;
        text-align: center;
        background-color: colors.$white;

        @media screen and (min-width: 1000px) {
            max-width: 600px;
            margin: auto;
            border: 2px dashed colors.$frame;
            padding: 80px;
            margin: 0 auto;
            box-shadow: 0 20px 30px rgba(0,0,0,.1);
        }
    }
}

.first-name,
.last-name,
.email,
.phone {
    padding: 10px 0;
}