@use 'colors';

.slideshow {
    position: relative;
    margin-bottom: 300px;

    @media screen and (min-width: 600px) {
        margin-bottom: 500px;
    }

    @media screen and (min-width: 1000px) {
        display: none;
    }
}

.slideImg {
    width: 100%;
    box-shadow: 0 1px 10px colors.$bcg-menu-bubble-opp56;
    position: absolute;
    transition: opacity .8s ease-in;
}

.slideImg + .slideImg { opacity: 0; }